.spreadscard{
    color: #121158;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: #FFFFFF !important;
    width: 23rem;
}

.spreadspeq{
    color: #121158;
}

.spreadsxl{
    color: #121158;
    margin-right: 20%;
    margin-left: 20%;
}

.cardRow2{
    margin-top: 15rem !important;
}