.spreadscard{
    color: rgb(48, 48, 158);
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.spreadspeq{
    color: rgb(48, 48, 158);
}

.spreadsxl{
    color: rgb(48, 48, 158);
    margin-right: 20%;
    margin-left: 20%;
}