.titleWashed{
    font-size: 3.5rem;
    font-weight: 900;
    color: #293f73;
    text-align: center;
    margin-top: -4%;
}

h5{
    text-align: center;
    color: #293f73;
    font-weight: bold;
}

.containerWashed{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.title{
    grid-column: 3/7;
    grid-row: 1/2;
}

.imgWashed{
    grid-column: 2/8;
    grid-row: 2/3;
    margin-left: -5%;
}