.containerBtn {
    display: flex;
    flex-direction: column;
    z-index: -1;
}

.btn1{
    width: 60px;
    height: 60px;
    padding: 5px 0;
    transition: transform .2s; 
}

.btn1:hover{
    animation: boton 0.5s ;
    transform: scale(1.1); 
}

@keyframes boton{
    0%{
        rotate: 0deg;
    }100%{
        rotate: -600deg;
    }
}