.newsxl{
    margin-left: 30%;
    margin-right: 30%;
    color: #293f73;
}

.card-title{
    color: #293f73;
    font-size: 1.5rem;
    font-weight: bold;
}

.p-2 a{
    font-weight: bold;
}

.newspeq{
    margin-top: 2%;
    color: #293f73;
}