.pageContainer {
    display: flex;
    flex-direction: column;
    color:#121158;
    background-color: #f0f0f0;
    justify-self: center;
    justify-content: center;
    justify-items: center;
}

.card{
    width: 50rem;
    height: 200px;
    margin: 10px;
    background-color: #f0f0f0 !important;
    border-color: transparent !important;
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
}

.iconA{
    width: 50px;
	height: 50x;
    margin-bottom: 60px;
    transition: transform 0.3s;
}

.iconA:hover{
    transform: scale(1.1); /* aumenta el tamaño en un 20% */
}

.hexagon{
    width: 180px;
    height: 190px;
    position: absolute;
    
}

.iconImage{
    width: 90px;
    height: 90px;
    position: relative;
    margin: 52px 0px 0px 46px;
}


.cardsContainer{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.textPrevent{
    margin-left: 25%;
    padding-left: 20px;
    padding-bottom: 10px;
    text-align: justify;   
    justify-content:start; 
    margin-top: -28%;
    width: 55%;
    
}

.title{
    font-weight: bold;
    color:#121158;
    margin-top: 5%;
}

.paragraphPrevent{
    line-height: 1.75;
    color: #515184;  
    font-weight: 400; 
    font-size: 1.3rem;
}

.header{
    text-align: center;
    flex-direction: column;
    width: 800px;
    display: flex;
    align-self: center;
}

.prevent{
   font-weight: bold;
   margin-top: 5%;
}

.bestway{
    font-weight: bolder;
    font-size: 4em;
} 
