.landingMobileContainer{
    width: 80vw;
    height: 50vh;
    background: linear-gradient(to right, #1e0c9d, #06cdec);
    padding: 100px 130px;
    border-radius: 10px;
    margin-top: 15%;
    margin-left: 10%;
}

.cuadrado{
    display: flex;
}

.mobile{
    margin-top: -25%;
    display: flex;
    align-items: flex-end;
    margin-left: 20%;
    width: 20rem;
}

.text{
    font-weight: bold;
    color: white;
    display: flex;
    flex-direction: column;
    margin-top: -50px;
    width: 40rem;
}

.textTitle{
    font-size: 4.3em;
    margin-bottom: 10px;
    line-height: 1.2;
    margin-bottom: 5%;
}

.buttom{
    padding: 20px 40px;
    background-color: white;
    border-radius: 4px;
    color: #111;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 13rem;
}

.buttom:hover{
    color: white;
    cursor: pointer;
    transition: color 1s;
}

.textParagraph{
    width: 45rem;
    font-weight: lighter;
}