html {
  font-family: system-ui, sans-serif;
  font-size: 1.25rem;
}

.div-container {
  margin: 0;
}

svg {
  display: inline-block;
  vertical-align: middle;
}

.mapa {
  fill: #2a354d;
}

.App {
  font-family: sans-serif;
  text-align: center;
}
